@media only screen and (max-width: 768px) {
    .video-container {
        display: none; /* Hide the video container for smaller devices */
    }

    body {
        background-color: #E3D2CB;
        background-size: cover;
        background-repeat: no-repeat;
        margin: 0; /* Reset default body margin */
    }

    nav ul {
        display: none;
        position: absolute;
        top: 60px; /* Adjust the top position based on your design */
        left: 0;
        width: 100%;
        background-color: whitesmoke;
        text-align: center;
        position: fixed;
    }

    nav .icon {
        display: block;
        color: #3C3A79;
        position: fixed;
        top: 10px;
        right: 10px;
        padding: 10px;
        font-size: 30px;
        cursor: pointer; /* Add cursor pointer for better usability */
        z-index: 3; /* Ensure the icon is above other elements */
    }

    nav.mobile-menu-active ul {
        display: block;
    }

    li {
        display: block;
        margin-bottom: 10px; /* Adjust spacing between items */
        
    }

    li a {
        padding: 12px;
        font-size: 14px;
    }

    .article {
        width: 100%;
    }

    .article img {
        width: 100%;
    }

    .article p {
        font-size: 14px;
    }

    .articles-container {
        margin-top: 20px;
    }
}
